/* Стили для страницы downloads */
.upload-section, .download-section {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--table-background);
    border-radius: 10px;
    box-shadow: var(--text-container-shadow);
}

.upload-section h2, .download-section h2 {
    margin-bottom: 20px;
    color: var(--header-text);
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

#upload-form select, 
#upload-form input[type="file"],
#upload-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--table-border);
    border-radius: 5px;
    background-color: var(--table-background);
    color: var(--text-color);
    font-size: 16px;
}

#upload-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

#upload-form button {
    background-color: var(--button-background);
    color: var(--header-text);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-form button:hover {
    background-color: var(--button-hover);
}

#upload-message {
    margin-top: 10px;
    color: var(--text-color);
    text-align: center;
}

#file-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.file-category {
    flex: 1 1 300px;
    background-color: var(--table-background);
    border-radius: 5px;
    padding: 15px;
    box-shadow: var(--text-container-shadow);
}

.file-category h3 {
    margin-bottom: 10px;
    color: var(--header-text);
}

.file-category ul {
    list-style-type: none;
    padding: 0;
}

.file-category li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--table-border);
    background-color: var(--table-background);
    border-radius: 5px;
}

.file-category li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
}

.file-category li a:hover {
    color: var(--button-hover);
}
