/* Стили для страницы downloads */
.upload-section, .download-section {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--table-background);
    border-radius: 10px;
    box-shadow: var(--text-container-shadow);
}

.upload-section h2, .download-section h2 {
    margin-bottom: 20px;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#file-input {
    margin-bottom: 10px;
}

#upload-form button {
    background-color: var(--button-background);
    color: var(--header-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#upload-form button:hover {
    background-color: var(--button-hover);
}

#upload-message {
    margin-top: 10px;
    color: var(--header-background);
}

#file-list {
    list-style-type: none;
    padding: 0;
}

#file-list li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--table-border);
    background-color: var(--table-background);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#file-list li a {
    color: var(--button-background);
    text-decoration: none;
    transition: color 0.3s ease;
}

#file-list li a:hover {
    color: var(--button-hover);
}