body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.chat-container {
    display: flex;
    height: 100vh;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.chat-partners-area {
    width: 250px;
    background-color: var(--sidebar-background);
    color: var(--header-text);
    overflow-y: auto;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.chat-partner {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chat-partner:hover {
    background-color: var(--sidebar-hover);
    transform: scale(1.02);
}

.friend-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messages-area {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--text-container-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-left: 1px solid var(--border-color);
}

.input-area {
    display: flex;
    padding: 15px;
    background-color: var(--text-container-background);
    border-top: 1px solid var(--border-color);
}

.input-area input {
    flex: 1;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    margin-right: 10px;
    background-color: var(--input-background);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.input-area input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.input-area button {
    padding: 12px 20px;
    background-color: var(--primary-color);
    color: var(--button-text);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-area button:hover {
    background-color: var(--button-hover);
    transform: scale(1.05);
}

.message {
    background-color: var(--card-background);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    word-wrap: break-word;
    max-width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-sent {
    align-self: flex-end;
    background-color: var(--primary-color);
    color: var(--button-text);
}

.message-received {
    align-self: flex-start;
    background-color: var(--button-secondary);
    color: var(--text-color);
}

.message-time {
    font-size: 10px;
    color: var(--text-secondary);
    text-align: right;
    margin-top: 5px;
}